/*** FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merriweather:ital,wght@1,300&family=Sacramento&display=swap');

body {
    background-color: #6B705C;
    font-family: Merriweather, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #A5A58D;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    /*align-content: space-around;*/
}
nav a:hover {
    background-color: #000;
    color: #fff;
}
.book {
    background-color: #A47551;
    color: #000;
    font-weight: bold;
}
.join {
    background-color: #000;
    color: #fcfbfb;
}
.book, .join {
    /* background-color: #000; */
    /* color: #fcfbfb; */
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    color: yellowgreen;
}
.book:hover {
    color: #fcfbfb;
}
h1 {
    font-family: cursive, Arial, serif;
}
h2 {
    margin: 0;
    font-family: cursive, Arial, serif;
}
h4 {
    color: #fcfbfb;
    font-family: cursive, Arial, serif;
}
.home-title {
    color: #A47551;
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    background-color: #A47551;
    /* line-height: 1.5em; */
    padding: 35px;
    /* margin-top: 5em; */
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 1px #BC9476;
}
.msg h2 {
    color: rgb(0, 29, 0);
}
.msg p {
    color: #000;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #A5A58D;
    padding: 25px 50px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: rgb(0, 29, 0);
}
footer .social img {
    padding-top: 15px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 10fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #B7B7A4;
    margin-bottom: 60px;
    grid-column: 1/11;
    grid-row: 4/9;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%;
}
card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #A47551;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #000;
    width: 100% 
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000;
}

/********************* MEDIA QUERY ********************/
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: rgb(0, 29, 0);
    }
    .rivers-card, .camping-card, .rapids-card {
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}