/*** FONTS ***/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merriweather:ital,wght@1,300&family=Sacramento&display=swap');

body {
    background-color: #6B705C;
    font-family: Merriweather, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #A5A58D;
}
nav a:hover {
    background-color: #000;
    color: #fff;
}
.book, .join {
    background-color: #000;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    color: yellowgreen;
}
h1 {
    font-family: cursive, Arial, serif;
}
h2 {
    margin: 0;
    font-family: cursive, Arial, serif;
}
h4 {
    color: #fcfbfb;
    font-family: cursive, Arial, serif;
}
.home-title {
    color: rgb(0, 29, 0);
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    background-color: #B7B7A4;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 5em;
}
.msg h2 {
    color: rgb(0, 29, 0);
}
.msg p {
    color: #000;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #A5A58D;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #000;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}
footer a:hover {
    color: rgb(0, 29, 0);
}
footer .social img {
    padding-top: 15px;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    background-color: #B7B7A4;
    margin-bottom: 60px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #000;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}